$schema: https://json-schema.org/draft-07/schema
$defs:
  Accounts:
    additionalProperties: false
    description: InNoHassle Accounts integration settings
    properties:
      api_url:
        default: https://api.innohassle.ru/accounts/v0
        description: URL of the Accounts API
        title: Api Url
        type: string
      api_jwt_token:
        description: JWT token for accessing the Accounts API as a service
        format: password
        title: Api Jwt Token
        type: string
        writeOnly: true
    required:
    - api_jwt_token
    title: Accounts
    type: object
  Environment:
    enum:
    - development
    - production
    - testing
    title: Environment
    type: string
  MusicRoom:
    additionalProperties: false
    description: InNoHassle-MusicRoom integration settings
    properties:
      api_url:
        description: URL of the Music Room API
        title: Api Url
        type: string
      api_key:
        description: API key for the Music Room API
        format: password
        title: Api Key
        type: string
        writeOnly: true
    required:
    - api_url
    - api_key
    title: MusicRoom
    type: object
  RoomBooking:
    additionalProperties: false
    description: InNoHassle Room Booking integration settings
    properties:
      api_url:
        default: https://api.innohassle.ru/room-booking/v0
        description: URL of the Room Booking API
        title: Api Url
        type: string
      api_key:
        description: API key for the Room Booking API
        format: password
        title: Api Key
        type: string
        writeOnly: true
    required:
    - api_key
    title: RoomBooking
    type: object
  Sport:
    additionalProperties: false
    description: Innopolis Sport integration settings
    properties:
      api_url:
        default: https://sport.innopolis.university/api
        description: URL of the Sport API
        title: Api Url
        type: string
    title: Sport
    type: object
  Workshops:
    additionalProperties: false
    description: InNoHassle Workshops integration settings
    properties:
      api_url:
        default: https://api.innohassle.ru/workshops/v0
        description: URL of the Workshops API
        title: Api Url
        type: string
      api_key:
        description: API key for the Workshops API
        format: password
        title: Api Key
        type: string
        writeOnly: true
    required:
    - api_key
    title: Workshops
    type: object
additionalProperties: false
description: Settings for the application. Get settings from `settings.yaml` file.
properties:
  app_root_path:
    default: ''
    description: Prefix for the API path (e.g. '/api/v0')
    title: App Root Path
    type: string
  environment:
    $ref: '#/$defs/Environment'
    default: development
    description: App environment
  db_url:
    description: PostgreSQL database connection URL
    examples:
    - postgresql+asyncpg://postgres:postgres@127.0.0.1:5432/postgres
    - postgresql+asyncpg://postgres:postgres@db:5432/postgres
    format: password
    title: Db Url
    type: string
    writeOnly: true
  cors_allow_origin_regex:
    default: .*
    description: 'Allowed origins for CORS: from which domains requests to the API
      are allowed. Specify as a regex: `https://.*.innohassle.ru`'
    title: Cors Allow Origin Regex
    type: string
  predefined_dir:
    default: predefined
    description: Path to the directory with predefined data
    format: path
    title: Predefined Dir
    type: string
  accounts:
    $ref: '#/$defs/Accounts'
  music_room:
    anyOf:
    - $ref: '#/$defs/MusicRoom'
    - type: 'null'
    default: null
    description: InNoHassle MusicRoom integration settings
  sport:
    $ref: '#/$defs/Sport'
    default:
      api_url: https://sport.innopolis.university/api
  workshops:
    anyOf:
    - $ref: '#/$defs/Workshops'
    - type: 'null'
    default: null
    description: InNoHassle Workshops integration settings
  room_booking:
    anyOf:
    - $ref: '#/$defs/RoomBooking'
    - type: 'null'
    default: null
    description: InNoHassle Room Booking integration settings
  $schema:
    description: Path to the schema file
    title: Schema
    type: string
required:
- db_url
- accounts
title: Settings
type: object
